.buttonClassic {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 150px;
    border: 2px solid white;
    font-family: 'Kanit';
    font-size: 20px;
    border-radius: 50%;
    background-color: Black;
    color: White;
    font-weight: 500;
}