.contenedor {
  background-image: url('./assets/images/mesa.png');
  background-size: contain;
}

#root{
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
